.smallImage {
  width: 70%;
  height: 80%;
  object-fit: fill;
  border: 1px solid white;
  z-index: 1001;
}

.smallImage:hover {
  transform: scale(1.2);
  cursor: pointer;
  transition-timing-function: ease-in;
  transition-duration: 0.5s;
}
