.container {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 80px;
  height: 100px;
}

.moveUp {
  transform: translateY(-200px);
}
.container .search {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 80px;
  height: 80px;
  background-color: crimson;
  border-radius: 50%;
  z-index: 4;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
  transition: 1s all;
}

.container .search:hover {
  cursor: pointer;
}

.container .search::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 22px;
  left: 22px;
  right: 0;
  bottom: 0;
  width: 12px;
  height: 2px;
  background-color: #fff;
  transform: rotate(45deg);
  transition: 0.5s all;
}

.container .search::after {
  content: "";
  position: absolute;
  margin: auto;
  top: -5px;
  left: -5px;
  right: 0;
  bottom: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid #fff;
  transition: 0.5s all;
}

.container input {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  background-color: crimson;
  color: #fff;
  text-shadow: 0 0 10px crimson;
  padding: 0 80px 0 20px;
  border-radius: 30px;
  box-shadow: 0 0 25px 0 crimson, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
  opacity: 0;
  z-index: 5;
  letter-spacing: 0.1em;
  transition: 1s all;
}

.container input:hover {
  cursor: pointer;
}

.container input:focus {
  width: 300px;
  opacity: 1;
  cursor: text;
  transform: translateX(-120px);
}

.container input:focus ~ .search {
  right: -300px;
  background-color: #151515;
  z-index: 6;
}

.container input:focus ~ .search::before {
  top: 0;
  left: 0;
  width: 25px;
}

.container input:focus ~ .search::after {
  top: 0;
  left: 0;
  width: 25px;
  height: 2px;
  border: none;
  background-color: #fff;
  border-radius: 0;
  transform: rotate(-45deg);
}

.container input::placeholder {
  color: #fff;
}

.container .searchBtn {
  position: absolute;
  margin: auto;
  top: 200px;
  left: 0px;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  background-color: crimson;
  color: #fff;
  text-shadow: 0 0 10px crimson;
  padding: 0 70px 0 20px;
  border-radius: 30px;
  box-shadow: 0 0 25px 0 crimson, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
  z-index: 5;
  letter-spacing: 0.1em;
  transition: 1s all;
  opacity: 0;
}

.container input:focus ~ .searchBtn {
  opacity: 1;
}
