html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-image: url("./pictures/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-origin: border-box;
  background-size: cover;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 500;
}

.modalContainerFixed {
  position: relative;
}
.modalContainer {
  position: fixed;
  z-index: 1000;
  top: 15%;
  left: 25%;
  width: 45%;
  height: 70%;
  background-color: black;
  padding: 6px;
  border: 4px solid white;
}
.modal {
  position: absolute;
  z-index: 1000;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 72%;
}

.closeBtn {
  position: absolute;
  z-index: 1001;
  top: -2%;
  left: 94%;
  font-size: 35px;
  color: crimson;
}
.nextBtn {
  position: absolute;
  z-index: 1001;
  top: 40%;
  left: 85%;
  font-size: 60px;
  color: crimson;
}

.prevBtn {
  position: absolute;
  z-index: 1001;
  top: 40%;
  left: 5%;
  font-size: 60px;
  color: crimson;
}

.prevBtn:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.nextBtn:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.closeBtn:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.imageSlider {
  position: absolute;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, 1fr);
  z-index: 1001;
  top: 320px;
  left: 0;
  color: white;
  grid-auto-rows: 115px;
}
