.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: white;
}

.modal {
  position: fixed;
  z-index: 1000;
  top: 20%;
  left: 20%;
  width: 60%;
  height: 60%;
  background-color: black;
  padding: 6px;
  border: 4px solid white;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 500;
}

.nextBtn {
  position: fixed;
  z-index: 1001;
  top: 45%;
  left: 73%;
  font-size: 60px;
  color: crimson;
}

.prevBtn {
  position: fixed;
  z-index: 1001;
  top: 45%;
  left: 23%;
  font-size: 60px;
  color: crimson;
}

.prevBtn:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.nextBtn:hover {
  cursor: pointer;
  transform: scale(1.2);
}
