html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-image: url("./pictures/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-origin: border-box;
  background-size: cover;
}
